body {
    font-family: 'Poppins', sans-serif;
}

.carousel-img::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
}

.slider-caption {
    bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.slider-caption h5 {
    font-size: 34px;
    font-weight: 700;
}

.btn-color {
    background-color: rgba(40, 155, 222, 1);
}

.star-color,
.star-color-light {
    color: rgba(245, 158, 11, 1);
}

.star-color-light {
    opacity: 0.5;
}

.left-arrow {
    background-color: rgba(229, 246, 255, 1);
}

.left-arrow>a>i {
    color: rgba(40, 155, 222, 1);
}

footer {
    background-color: #000;
    height: 400px;
}